{% extends 'parent-footer.twig.html' %}
{% block title %}Page Admin{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block contenu %}
    <h1>Page Admin</h1>

    <section>
        <h2>Utilisateurs</h2>
    </section>
    
    <div class="utilisateur">
        <table>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Biographie</th>
                <th>Actions</th>
            </tr>
            {% for utilisateur in utilisateurs %}
            {% if utilisateur.identifiant != 'admin' %}
            <tr>
                <td>{{ utilisateur.IdUser }}</td>
                <td>{{ utilisateur.identifiant }}</td>
                <td>{{ utilisateur.biographie }}</td>
                <td>
                    <form action="{{ base_path }}/admin" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="hidden" name="supprimerUserId" value="{{ utilisateur.IdUser }}">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

{% for bloc in categories %}

    <section class="categorie">
    <h2>Catégorie: {{ bloc.categorie.nom }}</h2>
    </section>

    {% for message in bloc.messages %}
        <h2>Messages</h2>

        <div class="msg-container">
            <div class="msg">
                <div class="haut">
                    <h2>@{{ message.auteur }}</h2>
                    <p>{{ message.date }}</p>
                </div>

                {% if message.imageSrc %}
                    <img src="{{ message.imageSrc }}" alt="Message Image de {{ message.auteur }}">
                {% endif %}

                <p class="texte">{{ message.texte }}</p>
            </div>
            <form action="{{ base_path }}/admin" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="supprimerMessageId" value="{{ message.IdMsg }}">
                <button type="submit">Supprimer le message</button>
            </form>      
        </div>
        <div class="commentaires-section">
            <h2>Commentaires du message</h2>
            {% for commentaire in commentaires %}
                {% if commentaire.IdMsg == message.IdMsg %}
                    <div class="commentaire">
                        <p><strong>@{{ commentaire.auteur }}:</strong> {{ commentaire.texte }}</p>
                        <form action="{{ base_path }}/admin" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                            <input type="hidden" name="supprimerCommentaireId" value="{{ commentaire.IdComment }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endfor %}

{% endfor %}


{% endblock %}

