{% extends 'parent-footer.twig.html' %}
{% block title %}Identifiant{% endblock %}

{% block style %}
<style>
    header {
        display: flex;
        gap: 10px;
    }

    header img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    label {
        color: var(--texte-2);
        font-weight: 400;
        font-size: 0.875em;
    }

    input[type="text"] {
        padding: 10px;
        border: 1px solid var(--bordure);
        border-radius: 5px;
        background-color: var(--surface);
        color: var(--texte);
        font-family: 'Public Sans', sans-serif;
        font-size: 0.875em;
        min-height: 1em;
        resize: vertical;
        margin-bottom: 10px;
    }

    input[type="text"]:focus {
        outline: none;
        border-color: var(--bleu-profond);
    }

    .buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
</style>
{% endblock %}


{% block header %}
<a href="{{ base_path }}/parametre"><img src="{{ base_path }}/images/chevron-gauche.svg" alt="retourner en arrière"></a>
<h1>Identifiant</h1>
{% endblock %}


{% block contenu %}
<form method="post" action="{{ base_path }}/identifiant">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label for="identifiant">Ecrivez votre nouvel identifiant :</label>
    <input type="text" id="identifiant" name="identifiant" placeholder="Entrez votre nouvel identifiant" value="{{ utilisateur.identifiant }}" required>
    <div class="buttons">
        <button type="submit" class="btn-primary">Enregistrer</button>
        <a href="{{ base_path }}/parametre"><button type="button" class="btn-rouge">Annuler</button></a>
    </div>
</form>
{% endblock %}