{% extends 'parent-footer.twig.html' %}

{% block title %}Connexion{% endblock %}
{% block style %}
<style>

    h1, h3, span {
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 2em;
        margin-top: 30px;
    }

    span {
        font-size: 0.75em;
        color: var(--texte-2);
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .containerConnexionInscription{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .radio-toggle {
        width: 100%;
        margin-top: 50px;
    }

    footer{
        display:none;
    }

    .formulaire  form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .formulaire label {
        color: var(--texte-2);
        font-weight: 400;
        font-size: 0.875em;
    }

    input[type="text"], input[type="password"] {
        padding: 10px;
        border: 1px solid var(--bordure);
        border-radius: 5px;
        background-color: var(--surface);
        color: var(--texte);
    }

    button {
        margin-top: 20px;
    }

    
</style>
{% endblock %}

{% block header %}
<h1>Free Message</h1>
<span>Partagez vos passions en toute simplicité</span>
{% endblock %}

{% block contenu %}

<div class="containerConnexionInscription">
    <fieldset class="radio-toggle">
        <input type="radio" id="radio-connexion" name="mode-auth" value="connexion" checked>
        <label for="radio-connexion">Connexion</label>

        <input type="radio" id="radio-inscription" name="mode-auth" value="inscription">
        <label for="radio-inscription">Inscription</label>
    </fieldset>


    <div id="connexion" class="formulaire">
        <h3>Content de vous revoir</h3>
        <span>Retrouvez vos communautés en un instant.</span>
        <form method="post" action="{{ base_path }}/connexion-inscription/connexion" class="formConnexion">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <label for="identifiant">Identifiant :</label>
            <input type="text" id="identifiant" name="identifiant" placeholder="ex: john_doe" required>
            <label for="mdp">Mot de passe :</label>
            <input type="password" id="mdp" name="mdp" placeholder="Mot de passe" required>
            <button type="submit" class="btn-primary">Se connecter</button>
        </form>
    </div>

    <div id="inscription" class="formulaire">
        <h3>Créez votre compte</h3>
        <span>Un identifiant, un mot de passe. Rien de plus.</span>
        <form method="post" action="{{ base_path }}/connexion-inscription/inscription" class="formInscription"
            id="formInscription">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <label for="nouvel_identifiant">Identifiant :</label>
            <input type="text" id="nouvel_identifiant" name="nouvel_identifiant" placeholder="ex: john_doe" required>

            <label for="nouveau_mdp">Mot de passe :</label>
            <input type="password" id="nouveau_mdp" name="nouveau_mdp" placeholder="Mot de passe" required>

            <label for="confirmation_mdp">Confirmer le mot de passe :</label>
            <input type="password" id="confirmation_mdp" name="confirmation_mdp" placeholder="Confirmer le mot de passe" required>

            <button type="submit" class="btn-primary">Créer mon compte</button>
        </form>
    </div>
</div>

<script>
    let radios = document.querySelectorAll('input[name="mode-auth"]');
    let forms = document.querySelectorAll('.formulaire');

    forms[1].style.display = 'none'; // Masquer tous les formulaires par défaut

    // function pour afficher le formulaire correspondant au bouton radio sélectionné
    radios.forEach(radio => {
        radio.addEventListener('change', () => {
            forms.forEach(form => form.style.display = 'none');
            document.getElementById(radio.value).style.display = 'block';
        });
    });

    // Click the first radio button by default
    radios[0].click();

    const form = document.getElementById('formInscription');
    const mdp = document.getElementById('nouveau_mdp');
    const confirmation = document.getElementById('confirmation_mdp');

    form.addEventListener('submit', function(e) {
        if (mdp.value !== confirmation.value) {
            e.preventDefault(); 
            console.log("Les mots de passe ne correspondent pas.");
            alert("Les mots de passe ne correspondent pas.");
        }
    });
</script>
{% endblock %}