{% extends 'parent-footer.twig.html' %}
{% block title %}Biographie{% endblock %}

{% block style %}
<style>
   
</style>

{% endblock %}

{% block header %}
<h1>Modifier la biographie</h1>
{% endblock %}


{% block contenu %}

<form method="post" action="{{ base_path }}/biographie">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label for="biographie">Rédigez votre biographie : </label>
    <textarea id="biographie" name="biographie"></textarea>
    <div class="buttons">
        <button type="submit">Enregistrer</button>
        <a href="{{ base_path }}/parametre"><button type="button">Annuler</button></a>
    </div>
</form>

{% endblock %}