{% extends 'parent-footer.twig.html' %}
{% block title %}Paramètres{% endblock %}
{% block style %}
<style>
    header {
        display: flex;
        gap: 10px;
    }

    header img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: relative;
        top: 3px;
    }
</style>

{% endblock %}

{% block header %}
<a href="{{ base_path }}/profil"><img src="{{ base_path }}/images/chevron-gauche.svg" alt="retourner en arrière"></a>
<h1>Paramètres</h1>
{% endblock %}


{% block contenu %}
<div>
    <a href="{{ base_path }}/biographie"><button type="submit">Modifier la biographie</button></a>

    <a href="{{ base_path }}/identifiant"><button type="submit">Changer d'identifiant</button></a>

    <form method="post" action="{{ base_path }}/deconnexion">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <button class="deco" type="submit"><img src="images/se-deconnecter.png"> Déconnexion</button>
    </form>
</div>
{% endblock %}